<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container home" >

    <h2 class="display-4"><b>To-Do-List<br> Application </b></h2>
    
    <p class="lead"><b>Organize your Work and Relax</b></p>
    <hr>

    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
